:root {
  --desktop-panel-width: 40vw;
  --desktop-panel-height: 80vh;

  --mobile-panel-large-height: 70vh;
  --mobile-panel-small-height: 10vh;
  --mobile-panel-full-height: calc(var(--mobile-panel-small-height) + var(--mobile-panel-large-height));

  --input-width: 15rem;

  --password-color-weak: #941c1c;
  --password-color-good: #e5b519;
  --password-color-strong: #085414;
}

.accessContainer {
  width: calc(2 * var(--desktop-panel-width));
  min-height: calc(100vh - var(--desktop-nav-height) - var(--main-padding-top) - var(--footer-min-height));
  margin: 0 10% calc(100vh - var(--desktop-panel-height) - var(--main-padding-top));
  overflow: hidden;
  display: flex;
}

.panelContainer {
  display: flex;
}

section#frontPanel {
  position: relative;
  /* top: calc(-1 * var(--desktop-panel-height)); */
}

.panel {
  background-color: var(--color-contrast);
  width: var(--desktop-panel-width);
  display: inline-block;
  box-shadow: inset 0 0 1px 0 var(--color-highlight-blue);
  color: var(--color-primary-blue);
}

section#frontPanels .panel {
  background-color: var(--color-primary-blue) !important;
  color: var(--color-contrast);
}

section#frontPanels .panel:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#backPanels .panel:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 1rem 0 0;
}

h4 {
  text-align: center;
  color: gray;
}

.accessForm,
.formRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accessForm {
  padding-bottom: 1rem;
}

.formRow {
  margin: 0.2rem 0;
}

.centerText {
  text-align: center;
  width: fit-content;
  margin: 1rem auto;
}

.switchPanel {
  text-decoration: underline;
  cursor: pointer;
}

.accessForm span.required {
  color: indianred;
  font-weight: bolder;
}

.accessForm p.requiredWarning {
  color: red;
  font-size: 0.75rem;
}

.accessForm input,
.accessForm select {
  all: unset;
  width: var(--input-width);
  background-color: var(--color-highlight-blue);
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  color: var(--color-contrast);
}

.accessForm input::placeholder,
.accessForm select::placeholder {
  color: var(--color-contrast-placeholder);
}

#logInButton,
#signUpButton {
  cursor: pointer;
  background-color: var(--color-highlight-blue);
  border: 1px solid var(--color-secondary-blue);
  color: var(--color-contrast);
  width: 7rem;
  height: 2rem;
  border-radius: 0 25px;
  margin: 25px 0 0;
  transition: border-radius 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border 0.1s ease-in-out, color 0.1s ease-in-out;
}

#logInButton:hover,
#signUpButton:hover {
  background-color: var(--color-contrast);
  border: 1px solid var(--color-highlight-blue);
  color: var(--color-primary-blue);
  border-radius: 25px 0;
}

#logInButton:active,
#signUpButton:active {
  background-color: var(--color-secondary-blue);
  border: 1px solid var(--color-contrast-placeholder);
  border-radius: 25px;
}

.passwordToggle {
  height: 1rem;
  width: 2rem;
  transform: scale(3);
  display: inline-flex !important;
  cursor: pointer;
  border-radius: 100%;
}

.complexityBar {
  background-color: #999999;
  width: var(--input-width);
  height: 2px;
}

.complexityBar::after {
  content: '';
  display: block;
  height: 2px;
  transition:
    background-color .1s ease-out,
    width .25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.complexityBar.grade-0::after {
  width: 0;
  background-color: var(--password-color-weak);
}

.complexityBar.grade-1::after {
  width: calc(var(--input-width) * .2);
  background-color: var(--password-color-weak);
}

.complexityBar.grade-2::after {
  width: calc(var(--input-width) * .4);
  background-color: var(--password-color-good);
}

.complexityBar.grade-3::after {
  width: calc(var(--input-width) * .6);
  background-color: var(--password-color-good);
}

.complexityBar.grade-4::after {
  width: calc(var(--input-width) * .8);
  background-color: var(--password-color-strong);
}

.complexityBar.grade-5::after {
  width: var(--input-width);
  background-color: var(--password-color-strong);
}

/* ?Desktop only */
@media only screen and (min-width: 600px) {

  .passwordSection {
    margin-left: 2rem;
  }

  section#frontPanels {
    position: relative;
    left: calc(-2* var(--desktop-panel-width));
    transition: left 0.1s ease-in;
    width: var(--desktop-panel-width);
  }

  section#frontPanels.active {
    left: calc(-1* var(--desktop-panel-width));
  }

  section#frontPanels .panel {
    position: relative;
    transition: width 0.1s ease-in;
  }

  section#frontPanels .panel:first-child {
    width: 0;
  }

  section#frontPanels .panel:last-child {
    width: var(--desktop-panel-width);
  }

  section#frontPanels.active .panel:first-child {
    width: var(--desktop-panel-width);
  }

  section#frontPanels.active .panel:last-child {
    width: 0;
  }

  section#frontPanels.active form {
    display: none;
  }

  section#backPanels .panel:last-child,
  section#frontPanels .panel:first-child {
    font-size: 1.5rem;
  }

  .accessForm input,
  .accessForm select {
    height: 2rem;
  }
}

/* ?Mobile only */
@media only screen and (max-width: 600px) {
  .accessContainer {
    height: var(--mobile-panel-full-height);
    flex-direction: column;
  }

  .panelContainer {
    flex-direction: column;
  }

  section#frontPanels {
    width: 100%;
    top: 0;
    transition: top 0.1s ease-in;
  }

  section#frontPanels.active {
    position: relative;
    top: calc(-1 * var(--mobile-panel-full-height));
  }

  .panel {
    width: 100%;
    display: block;
  }

  .panel:last-child {
    height: var(--mobile-panel-small-height);
  }

  .panel:first-child {
    height: var(--mobile-panel-large-height);
  }

  section#frontPanels .panel:first-child {
    height: var(--mobile-panel-small-height);
  }

  section#frontPanels .panel:last-child {
    height: var(--mobile-panel-large-height);
  }

  .accessForm input:not(input[data-password-toggle]),
  .accessForm select {
    margin-left: -2rem;
  }

  .accessForm input,
  .accessForm select {
    height: 1.5rem;
  }

  .formRow {
    width: 100%;
  }
}