:root {
  --desktop-nav-height: 4rem;
  --desktop-banner-height: 25rem;
}

/*? Desktop only */
@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }

  nav {
    height: var(--desktop-nav-height);
    top: 0;
  }

  .button {
    width: 19vw;
    height: 3rem;
  }

  .button:hover {
    background-color: var(--color-bg-light-hover) !important;
  }

  #home {
    outline: solid 1px black;
  }

  main {
    min-height: calc(100vh - var(--desktop-nav-height));
    z-index: 0;
  }

  section#banner {
    height: var(--desktop-banner-height);
  }

  div.bannerSwiperContainer {
    position: absolute;
    width: 100%;
    height: var(--banner-swiper-height);
    top: calc((var(--desktop-banner-height) - var(--banner-swiper-height)) / 2);
    z-index: 5;
  }

  div.bannerSwiper {
    background-color: var(--color-bg-gray-transparent);
    height: var(--banner-swiper-height);
    aspect-ratio: 1;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    border: 1px solid white;
  }

  div.bannerSwiper[data-direction="left"] {
    float: left;
  }

  div.bannerSwiper[data-direction="right"] {
    float: right;
  }
}
