:root {
  --desktop-nav-height: 4rem;
  --desktop-banner-height: 25rem;
}

/*? Desktop only */
@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }

  nav {
    height: var(--desktop-nav-height);
    top: 0;
  }

  .button {
    width: 19vw;
    height: 3rem;
  }

  .button:hover {
    background-color: var(--color-bg-light-hover) !important;
  }

  #home {
    outline: solid 1px black;
  }

  main {
    height: calc(100vh - var(--desktop-nav-height) - var(--main-padding-top));
    top: var(--desktop-nav-height);
    z-index: 0;
  }

  section#banner {
    height: var(--desktop-banner-height);
  }
}